<div class="main-content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add New Course !</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row match-height">
                                <!-- Basic Form starts -->
                                <div class="col-lg-4 col-12">
                                    <div class="card" style="height: 656.875px;">
                                        <div class="card-header">
                                            <h4 class="card-title">Update Course</h4>
                                        </div>
                                        <div class="card-content">
                                            <div class="card-body">
                                                <p>This is the most basic and default form having inputs, labels and buttons.</p>
                                           
                                                  <div *ngIf="success">
                                                    <h3  style="color: green;">{{success}}</h3>
                                                  </div>
                                                <form (ngSubmit)="onSubmit()">  
                                                    <div class="form-group">
                                                      <label for="name">Course Name</label>
                                                      <input type="text" class="form-control" id="id" hidden [value]="course.id" >
                                                      <input type="text" class="form-control" id="name" required [value]="course.name" >
                                                     
                                                    </div>
                                              
                                                    <div class="form-group">
                                                      <label for="description">Description</label>
                                                      <textarea type="text" class="form-control" id="description" name="description" [value]="course.description"></textarea>
                                                    </div>
                                              
                                               
                                              
                                                    <button type="submit" class="btn btn-success" >Submit</button>
                                                    <button type="button" class="btn btn-default" >Cancel</button>
                                                  </form>
  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Basic Form ends -->
                                <!-- Hidden Label starts -->
                                <div class="col-lg-8 col-12">
                                    <div class="card" style="height: 656.875px;">
                                        <div class="card-header">
                                            <h4 class="card-title">Hidden Label Form</h4>
                                        </div>
                                        <div class="card-content">
                                            <div class="card-body">
                                                <p>Use <code>label.sr-only</code> to hide a label and <code>input.round</code> for round inputs. You may add
                                                    <code>placeholder</code> attribute.</p>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Hidden Label ends -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

