<div class="main-content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Assign Courses ! <span *ngIf="success">{{success}}</span> </h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                          
              <div class="row">
                <div class="col-6">
                    <div class="table-container">
                        <label>Per Page</label>
                        <select [(ngModel)]="itemsPerPageStudent" (change)="filterDataStudent()">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                        <label>Sort</label>
                        <select [(ngModel)]="sortDirectionStudent" (change)="sortDataStudent()">
                            <option value="ASC">Assending</option>
                            <option value="DESC">Decending</option>                                    
                        </select>
                        <input class="text-right" type="text" [(ngModel)]="filterTermStudent" placeholder="Student name">
                                      
                        <button (click)="filterDataStudent()">Apply Filter</button>
                   
                    <table class="table" *ngIf="studentPageResponsePagination">
                        <tr>
                            <th>Choose</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Phone</th>                 
                            <th>Assigned Courses</th>                                  
                           
                           
                        </tr>
                        <tr *ngFor="let student of studentPageResponsePagination.students">
                            <td><input type="radio" name="selectedStudentId" (change)="studentToggleSelection(student.id)" [value]="student.id"></td>
                            <td>{{ student.id }}</td>
                            <td>{{ student.name }}</td>
                            <td> {{ student.phone }}</td>                                              
                            <td><span  *ngFor="let course of student.courses; let last = last"> {{ course.name}}{{ !last ? ',' : '' }} </span> </td>                                   
                           
                        </tr>
                    </table>
                    <div class="pagination">
                        <button (click)="previousPageStudent()" [disabled]="currentPageStudent === 1">Previous</button>
                        <span>Page {{ currentPageStudent }} of {{ totalPagesStudent }}</span>
                        <button (click)="nextPageStudent()" [disabled]="currentPageStudent === totalPagesStudent">Next</button>
                        <p> From {{totalItemsStudent}} Coures</p>
                      </div>
                </div>
                </div>
                <div class="col-6">
                    <div class="table-container">
                        <label>Per Page</label>
                        <select [(ngModel)]="itemsPerPage" (change)="filterData()">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                        <label>Sort</label>
                        <select [(ngModel)]="sortDirection" (change)="sortData()">
                            <option value="ASC">Assending</option>
                            <option value="DESC">Decending</option>                                    
                        </select>
                        <input class="text-right" type="text" [(ngModel)]="filterTerm" placeholder="Filter">
           
                        <button (click)="filterData()">Apply Filter</button>
                        <table class="table" *ngIf="coursePageResponsePagination">
                            <tr>
                                <th>Choose</th>
                                <th>ID</th>
                                <th>Course Name</th>                              
                            </tr>
                            <tr *ngFor="let course of coursePageResponsePagination.courses">
                                <td><input type="checkbox" name="selectedCourses" [value]="course" (change)="courseToggleSelection(course)"></td>
                                <td>{{ course.id }}</td>
                                <td>{{ course.name }}</td>                                                                               
                            </tr>
                        </table>
                        <div class="pagination">
                          <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
                          <span>Page {{ currentPage }} of {{ totalPages }}</span>
                          <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
                          <p> From {{totalItems}} Coures</p>
                        </div>
                      </div>
                </div>



              </div>
              <div class="clearfix"></div>
              <hr/>
              <br/>
              <button class="btn btn-large bg-info" [disabled]="!(studentSelected && coursesSelected)" (click)="assignCourses()" >Assign Courses</button>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

